.relative { position: relative; }
.z-10 { z-index: 10; }
.backdrop {
    position: fixed;
    inset: 0;
    background: rgba(75, 85, 99, .75); /* bg-gray-500 with 75% opacity */
    transition: opacity 0.5s ease-in-out;
}
.overflow-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
}
.inner-container { position: absolute; inset: 0; overflow: hidden; }
.slide-panel-container {
    pointer-events: none;
    position: fixed;
    inset-y: 0;
    right: 0;
    display: flex;
    max-width: 100%;
    padding-left: 10px;
}
.slide-panel {
    pointer-events: auto;
    width: 100vw;
}
.panel-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-xl */
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1.5rem; /* px-4 sm:px-6 */
}
h2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem; /* text-base font-semibold leading-6 */
    color: #1f2937; /* text-gray-900 */
}
.close-button-container {
    margin-left: 0.75rem;
    display: flex;
    height: 1.75rem;
    align-items: center;
}
.close-button {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0.375rem;
    background-color: white;
    color: #9ca3af; /* text-gray-400 */
    outline: none;
    padding: 0;
    border: none;
}
.close-button:hover { color: #6b7280; /* text-gray-500 */ }
.close-button:focus {
    ring: 2px;
    ring-color: #6366f1; /* focus:ring-indigo-500 */
    ring-offset: 2px;
}
.button-overlay { position: absolute; inset: -10px; }
.icon { height: 1.5rem; width: 1.5rem; }
.content-area {
    position: relative;
    flex: 1;
    padding-left: 1rem;
    padding-right: 1.5rem;
}
